@import "../../../index.css";

.footer {
  height: 258px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: var(--secondary);
}
