@import "../../../index.css";

.section_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_section h2 {
  font-size: 48px;
  margin-bottom: 24px;
  width: 595px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  color: var(--primary);
}

.title_section .subtext {
  width: 780px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: 0 0 32px;
  font-weight: var(--font-weight-regular);
  color: var(--secondary);
}

.child_container {
  display: flex;
  width: 100% !important;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: var(--max-width);
  margin: 0 130px 96px;
}

@media only screen and (max-width: 1024px) {
  .section_container {
    padding: 0 32px;
  }

  .title_section h2 {
    font-size: 32px;
    width: 100%;
  }

  .title_section .subtext {
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 24px;
  }

  .child_container {
    flex-direction: column;
    width: 100%;
    margin: 0 32px 96px;
    align-items: center;
    gap: 60px;
  }
}
