@import "../../../index.css";

.hero_container {
  height: 1024px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(154, 255, 229, 1) 40%
  );
}

.hero {
  width: 100%;
  height: 60%;
  background-image: linear-gradient(
    25deg,
    rgba(154, 255, 229, 1) 49%,
    rgba(16, 146, 223, 1) 100%
  );
  display: flex;
  justify-content: center;
}

.hero_content {
  width: var(--max-width);
  margin-top: 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_content {
  width: 580px;
}

.text_content h1 {
  font-size: 64px;
  color: var(--primary);
  line-height: 72px;
  margin: 0 0 48px;
}

.text_content .subText {
  font-size: 24px;
  color: var(--secondary);
  line-height: 48px;
  margin: 0 0 48px;
}

@media only screen and (max-width: 850px) {
  .hero_content {
    flex-direction: column-reverse;
  }
  .text_content h1 {
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 48px;
  }
  .text_content .subText {
    line-height: 40px;
  }
  .image_content img {
    width: 390px;
  }
  .text_content {
    width: 416px;
  }
}
