@import "../../../index.css";

.learn_more_section {
  height: 440px;
  width: 100%;
  display: flex;
  background-color: var(--tertiary);
  justify-content: center;
  align-items: center;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_container h2 {
  font-size: 48px;
  margin-bottom: 24px;
  width: 595px;
  text-align: center;
  color: var(--primary);
  font-weight: var(--font-weight-bold);
}

.title_container .subtext {
  width: 780px;
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: 0 0 48px;
  color: var(--secondary);
}

@media only screen and (max-width: 1024px) {
  .title_container {
    padding: 0 32px;
  }

  .title_container h2 {
    font-size: 32px;
    width: 100%;
  }

  .title_container .subtext {
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 24px;
  }
}
